.button {
  display: flex;
  gap: 8px;
  font-family: inherit;
  width: 100%;
  // max-width: 240px;
  padding: 4px 4px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  align-items: center;
  background-color:transparent;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: #122d3d;
  }

  &:focus {
    outline: none;
  }

  &:active {
    background-color: #122d3d;
  }

  span {
    font-weight: 600;
  }

  @media (max-width: 768px) {
    font-size: 14px;
    padding: 8px 16px;
  }

  @media (max-width: 480px) {
    font-size: 12px;
    padding: 6px 12px;
  }
}

.btnIcon {
  width: 28px;
  height: 28px;
  padding-top: 12px;
}