.sidebar {
  position: fixed;
  top: 8px;
  left: 8px;
  bottom: 8px;
  width: 200px;
  background: linear-gradient(180deg, #2c3e50 0%, #34495e 100%);
  border-radius: 15px;
  transition: width 0.3s, left 0.3s;
  overflow: hidden;
  padding: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  
  &.collapsed {
    width: 60px;

    .menuItem {
      .label {
        display: none;
      }

      .tooltip {
        display: block;
      }
    }
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  color: white;

  .logoPro {
    color: #FFFFFF;
  }

  .logoVisor {
    color: #FFFFFF;
  }

  .logoID {
    color: #FFFFFF;
    font-size: 18px;
    background-color: #d70000;
    border-radius: 3px;
    padding: 2px 4px;
    margin-left: 4px;
  }
}

.toggleButton {
  background: none;
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  margin-left: 12px;
}

.menu {
  list-style: none;
  padding: 0;
  margin: 4px 0 0 0;
}

.menuItem {
  display: flex;
  align-items: center;
  padding: 8px;
  border-radius: 10px;
  transition: background-color 0.3s;

  &:hover {
    background-color: #122d3d;
  }

  .btnIcon {
    margin-right: 10px;
  }

  .label {
    color: white;
    font-size: 14px;
    font-weight: 500;
  }

  .tooltip {
    display: none;
    position: absolute;
    left: 70px;
    background: #122d3d;
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    font-size: 14px;
  }
}
